*.jar
target/
data/db/mongo
.gradle
applications/client/build
applications/fix/build
applications/obm/build
applications/system/build
applications/ticker/build
applications/wsreporter/build
applications/wsticker/build
libraries/book/build
libraries/file/build
libraries/match/build
libraries/net/build
libraries/util/build
tests/book-perf-test/build
tests/match-perf-test/build
subscriber
applications/reporter/build
